@import url("./reset.css");

header img {
    width: 100%;
    height: 400px;
}

header nav {
    background-color: #0d1015;
    height: 3rem;
    padding-top: 5px;
    padding-bottom: 5px;
}

header nav li {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1.2rem;
    color: white;
    display: inline-block;
    margin-left: 25px;
}

header nav li:hover {
    cursor: pointer;
    color: orange;
}

main {
    display: grid;
    grid-template-columns: 150px 1fr;
    gap: 20px;
    grid-template-areas:
    "aside section";
}
aside.filter {
    background-color: red;
    display: inline-block;
}

/* Movie card */

.movies {
    margin: 10px auto;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(5 , 1fr);
    gap: 2rem;
}
.movie-card {
    position: relative;
    overflow: hidden;
}

.movie-card::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0d1015;
    opacity: 0.1;
}

.movie-poster {
    width:100%;
}

.movie-info {
    width: 100%;
    position: absolute;
    bottom: -70px;
    left: 0;
    z-index: 10;
    color: orange;
    padding: 0.5rem 1rem;
    transition: bottom 300ms ease-in-out;
    background: rgba(32, 32, 32, 0.9);
}

.movie-info:hover {
    bottom: 0;
}

.movie-info h3 {
    /*text-transform: uppercase;*/
    letter-spacing: 1px;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.movie-info .duration {
    font-size: 1rem;
    display: inline-block;
    margin: 1rem 0.5rem;
}

.movie-info .rating {
    font-size: 1rem;
    display: inline-block;
}

.button-trailer {
    text-transform: uppercase;
    color: orange;
    border:1px solid orange;
    background: rgba(32, 32, 32, 0.9);
    border-radius: 4px;
}