@import url("./reset.css");

header {
    background-color: #0d1015;
    position: relative;
}

/*header p {*/
/*    color: orange;*/
/*    font-size: 2rem;*/
/*    text-transform: uppercase;*/
/*    padding-left: 40%;*/
/*    position: absolute;*/
/*    bottom: 25rem;*/
/*    z-index: 50;*/
/*}*/

header img {
    width: 100%;
    height: 450px;
    opacity: 0.7;
}

header nav {
    background-color: #0d1015;
    height: 3rem;
    padding-top: 5px;
    padding-bottom: 5px;
}

#time {
    display: flex;
    gap: 0.8rem;
    color: white;
}

header nav li {
    font-size: 1.2rem;
    color: white;
    display: inline-block;
    margin-left: 25px;
    padding: 0.4rem;
    border-radius: 3px;
    font-weight: bold;
}

header nav li:hover {
    cursor: pointer;
    color: orange;
}

main {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-areas:
    "aside section";
    background-color: #4158D0;
    background-image: linear-gradient(118deg, #4158D0 0%, #C850C0 34%, #FFCC70 74%);
    min-height: 50rem;
}

/* Filters */
aside.filter {
    display: inline-block;
}

aside.filter p {
    text-align: center;
    font-size: 1.5rem;
    background-color: orange;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 10px;
}

/*#clearButton {*/
/*    display: inline-block;*/
/*    font-size: 1rem;*/
/*    margin: 3rem 1.7rem;*/
/*    padding: 0.5rem 0.5rem;*/
/*    border-radius: 10px;*/
/*    text-align: center;*/
/*    text-transform: uppercase;*/
/*    font-weight: bold;*/
/*    color: black;*/
/*    background-color: #FFE53B;*/
/*    background-image: linear-gradient(225deg, #FFE53B 0%, #FF2525 74%);*/
/*}*/

/*#clearButton:hover {*/
/*    cursor: pointer;*/
/*    background-color: #FFE53B;*/
/*    background-image: linear-gradient(45deg, #FFE53B 0%, #FF2525 74%);*/
/*}*/

/* Genres Filter */

aside.filter span.filterTitle,
aside.filter span.ratingFilterTitle {
    background-color: black;
    color: orange;
    border-radius: 5px;
    font-size: 1.35rem;
    display: flex;
    justify-content: center;
    padding: 3px 5px;
    margin: 20px 30px;
}

aside.filter span.ratingFilterTitle {
    margin-top: 50px;
}

aside.filter label {
    color: #DFE0DF;
}

aside.filter input[type="checkbox"] {
    display: none;
}

aside.filter input[type="checkbox"] + *::before {
    content: "";
    display: inline-block;
    vertical-align: bottom;
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
    border-radius: 10%;
    border-style: solid;
    border-width: 0.1rem;
    border-color: #DFE0DF;
    flex-shrink: 0;
}

aside.filter input[type="checkbox"]:checked + * {
    color: orange;
    font-weight: bold;
}

aside.filter input[type="checkbox"]:checked + *::before {
    content: "✓";
    color: orange;
    text-align: center;
    border-color: orange;
}

aside.filter input[type="checkbox"] + * {
    display: inline-flex;
    padding: 0.3rem 1rem;
}

aside.filter input[type="checkbox"] + *:hover{
    cursor: pointer;
    color: white;
}

aside.filter input[type="checkbox"]:checked + *:hover{
    color: orange;
}

/* Duration + Rating Filter */

aside.filter div.durationSliderTrack ,
aside.filter div.ratingSliderTrack {
    width: 180px;
    height: 5px;
    background-color: white;
    position: absolute;
    margin: 8px 10px;
    border-radius: 5px;
}

aside.filter input.sliderRange {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 200px;
    outline: none;
    position: absolute;
    background-color: transparent;
    pointer-events: none;
}

aside.filter input[type="range"]::-webkit-slider-runnable-track{
    -webkit-appearance: none;
    height: 5px;
}

aside.filter input[type="range"]::-moz-range-track {
    -moz-appearance: none;
    height: 5px;
}

aside.filter input[type="range"]::-ms-track {
    appearance: none;
    height: 5px;
}

aside.filter input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 0.9rem;
    width: 0.9rem;
    background-color: orange;
    cursor: pointer;
    border-radius: 10px;
    pointer-events: auto;
}

aside.filter input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    height: 0.9rem;
    width: 0.9rem;
    background-color: orange;
    cursor: pointer;
    border-radius: 50%;
    pointer-events: auto;
}

aside.filter input[type="range"]::-ms-thumb{
    appearance: none;
    height: 0.9rem;
    width: 0.9rem;
    background-color: orange;
    cursor: pointer;
    border-radius: 50%;
    pointer-events: auto;
}

aside.filter input[type="range"]:active::-webkit-slider-thumb{
    background-color: orange;
    border: 3px solid black;
}

aside.filter div.values {
    background-color: orange;
    width: 80px;
    position: relative;
    margin: 10px 63px;
    padding: 5px 0;
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 18px;
    border-radius: 3px;
}

aside.filter div.values:before {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    border-top: 8px solid orange;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    margin: auto;
    bottom: -8px;
    left: 0;
    right: 0;
}

/* Collection */

.movies {
    margin: 10px auto;
    width: 95%;
    display: grid;
    grid-template-columns: repeat(5 , 1fr);
    gap: 2rem;
}

.movies-title {
    font-size: 1.5rem;
    background-color: black;
    margin: 0.5rem 0 0.5rem 42.75%;
    padding: 0.5rem 3rem;
    border-radius: 10px;
    display: inline-block;
    color: orange;
}

input.searchInput {
    width: 200px;
    height: 2rem;
    border: 1px solid black;
    border-radius: 3px;
    display: inline-block;
    padding: 0.5rem;
    margin: 0.5rem 1rem 0.5rem 19.5rem;
    background: white url("../image/search-img.svg") no-repeat scroll 175px 6px;
}

.movie-card {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    min-height: 330px;
    min-width: 210px;
}

.movie-card:hover {
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    cursor: grab;
}

.movie-card::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0d1015;
    opacity: 0.1;
}

.movie-poster {
    width:100%;
}

.movie-info {
    width: 100%;
    position: absolute;
    bottom: -68px;
    left: 0;
    z-index: 10;
    color: orange;
    padding: 0.5rem 0.8rem;
    transition: bottom 300ms ease-in-out;
    background: rgba(32, 32, 32, 0.9);
}

.movie-info:hover {
    bottom: 0;
}

.movie-info h3.title1{
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    margin-bottom: 0.3em;
    font-size: 1.3rem;
}
.movie-info h5.title2{
    text-transform: uppercase;
    margin-bottom: 0.3em;
    font-size: 0.9rem;
}

.movie-info .duration,
.movie-info .rating {
    font-size: 1rem;
    display: inline-block;
    margin: 0.5rem 0.5rem;
}

.button-trailer ,
.button-details {
    margin: 0.3rem 0.5rem;
    text-transform: uppercase;
    color: orange;
    border:1px solid orange;
    background: rgba(32, 32, 32, 0.9);
    border-radius: 4px;
    display: inline-block;
}

.button-trailer:hover ,
.button-details:hover {
    cursor: pointer;
    color: black;
    border: none;
    background-color: #FAD961;
    background-image: linear-gradient(62deg, #FAD961 0%, #F76B1C 100%);
}

.modalElement {
    background: rgb(1, 3, 64 , 0.4);
}

.addMovieModal {
    background: rgb(0, 255, 0, 0.15);
}

input:focus, textarea:focus, select:focus{
    outline: none;
}
